html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}


article {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #373B44;
    height: 100vh;
}

a {
    text-decoration: none;
}

.page-card {
    max-width: auto;
    height: 19vh;
}   

.footer-basic .copyright {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }
  

.hero {
    height: 60vh;
    width: 100%;
    position: relative;
}

.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hello{
    position: absolute;
    top: 15%;
    left: 18%;
    transform: translate(-20%, 56%);
    color: white;
}



.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid var(--color-primer-border-contrast);
    border-radius: 50%;
}

.card-set {
    height: 170px;
}

.title {
    color: var(--bs-black);
    font-weight:900;
    font-size: 30px;
}