@font-face {
    font-family: "A1B";
    src: url("../font/GothicA1-Blod.ttf");
}

@font-face {
    font-family: "BHS";
    src: url("../font/BalsamiqSans-Bold.ttf");
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

article {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
    background-color: #f3f8fc;
}

a {
    color: black; 
    text-decoration: none;
}
  
.title {
    font-weight: 900;
    font-size: 30px;
    font-family: BHS;
}

.title_B {
    font-weight: 900;
    font-family:A1B; 
    font-size: 50px; 
    text-align: left;
}

.menu {
    color: black; 
    font-weight: 900;
    font-family: BHS;
}