@font-face {
    font-family: "A1B";
    src: url("../font/GothicA1-Blod.ttf");
}

@font-face {
    font-family: "BHS";
    src: url("../font/BalsamiqSans-Bold.ttf");
}

@font-face {
    font-family: "bamin";
    src: url("../font/BMHANNAAir_ttf.ttf");
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

/* 페이지관리 차원 디자인 클래스 */

.c_article {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
}

.l_article {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    height: 50vh;
}

.d_article {
    width: 100%;
    padding: 1% 4%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
}


/* 기타 디자인 클래스 */
.py-deit {
    padding-top: 5rem !important;
    padding-bottom: 1rem !important;
}

.Tab_card {
    padding-top: 3rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-bottom: 1rem !important;
}

.skill_up {
    padding-top: 1rem !important;
}

.Tab_img {
    padding-top: 1rem !important;
    padding-right: 4rem !important;
    padding-bottom: 1rem !important;
}

.project_nav {
    background-color: white;
    border-radius: 5px;
}

.ul-col-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
/* 모바일일떄 디자인이 수정되는 곳 */
@media (max-width: 980px) {
    .img1 {
        height:auto;
        width: 90vw;
    }

    .img2 {
        height:auto;
        width: 90vw;
    }

    .Tab_img {
        padding-top: 1rem !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .py-deit {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }

    .hide{
        display: none;
    }

    .open{
        display: inline;
    }

    .l_article {
        width: 100%;
        padding: 0 7%;
        display: table;
        margin: 0;
        max-width: none;
        height: 100vh;
    }

}