html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

article {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #373B44;
    height: 100vh;
}

article:nth-child(1) {
    background-image: url("https://wallpaperaccess.com/full/3497712.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

section:nth-child(2) {
    background: cyan;
    color: white;
}