@tailwind base;
@tailwind components;
@tailwind utilities;

@media (pointer: coarse) { 
  /* 포인팅 장치가 있음(터치스크린, 모션 감지 센서) -> 휴대폰*/
  onegrild {
    order: 1;
  }

  twogrild {
    order: 2;
  }

  threegrild {
    order: 3;
  }
}