html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

article {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #373B44;
    height: 100vh;
}

article:nth-child(1) {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.page-card {
    max-width: auto;
    height: 220px;
}   

.footer-basic .copyright {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }
  
.hero {
    height: 60%;
    width: 100%;
    position: relative;
}
.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

